.mainCardClass {
  border: 1px solid rgb(231, 209, 209);
  min-width: 100px;
  width:300px;
  height: 300px;
  text-align: center;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  background: #1a2a6c;
  background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
  background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
}
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainDiv {
  display: flex;
  width: 1200px;
  min-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
